name: Test Pacman

on:
  #push:
    #branches: [ main ]
  pull_request:
    branches: ["*"]

jobs:
  test:
    name: Test Pacman
    runs-on: ubuntu-latest
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install pygame

      - name: Ejecutar pruebas
        run: |
          pytest